<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://bootswatch.com/cyborg/bootstrap.min.css'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navebar navbar-inverse'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href="/">Posts</a>
        </div>
        <div id='navbar'>
          <ul class='nav navbar-nav'>
            <li><a href="/">Home</a></li>
            <li><a href="/posts/new">Create Posts</a></li>
          </ul>
      </div>
    </div>
    </nav>
    <div class='container'>
     <%= yield %>
    </div>
  </body>
</html>
